<%- include('../partials/header') %>

<h1><%= profile.userName %>'s Page</h1>
<img src="<%= profile.userAvatar %>">

<% profile.favorites.forEach(function(favorite) { %>
    <h2><%= favorite.title %></h2>
    <img src="<%= favorite.art %>">
<% }); %>

<%- include('../partials/footer') %>
