<%- include('../partials/header') %>


<div>
    <h2><%= game.title %></h2>
    <img src="<%= game.art %>">
</div>


<h2>Reviews</h2>

<% if (user) { %>
    <h3>Write a review...</h3>

    <% if (!profile.favorites.includes(game._id)) { %>
        <form action="/games/<%= game._id %>/favorite" method="POST">
            <input type="submit" value="Favorite">
        </form>
    <% } else { %>
        <form action="/games/<%= game._id %>/favorite?_method=DELETE" method="POST">
            <input type="submit" value="Unfavorite">
        </form>
    <% } %>
     
    <form action="/games/<%= game._id %>/reviews" method="POST">
        <label for="review-text">Review:</label>
        <textarea name="content" id="review-text"></textarea>
        <label for="review-rating">Rating:</label>
        <input type="number" name="rating" id="review-rating" value="5" min="1" max="5">
        <input type="submit" value="Post Review">
    </form>
<% } else { %>
    <h3>Must be logged in to review.</h3>
<% } %>

<% game.reviews.forEach(function(review, idx) { %>
    <hr>
    <img src="<%= review.userAvatar %>">
    <a href="/profiles/<%= review.userProfile %>"><h4><%= review.userName %></h4></a>
    <p>Content: <%= review.content %></p>
    <p>Rating: <%= review.rating %></p>

    <% if (review.createdBy.equals(user && user._id)) { %>
        <form action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
            <input type="submit" value="X">
        </form>

        <input type="button" value="Edit" class="edit-btn" data-id="<%= idx %>">
        <form action="/reviews/<%= review._id %>?_method=PUT" method="POST" class="edit-form" data-id="<%= idx %>">
            <label for="review-edit">Edit:</label>
            <textarea name="content" id="review-edit"><%= review.content %></textarea>
            <label for="rating-edit">Rating:</label>
            <input type="number" name="rating" id="rating-edit" value="<%= review.rating %>" min="1" max="5">
            <input type="submit" value="Update">
        </form>
    <% } %>
<% }); %>

<%- include('../partials/footer') %>
