<%- include('../partials/header') %>

<script defer src="/javascripts/script.js"></script>

<a href="/games">Home</a>
<h1><%= game.title %></h1>
<h2>Reviews</h2>

<% if (user) { %>
    <h3>Leave a review as <%= user.name %>...</h3>
    <form action="/games/<%= game._id %>/reviews" method="POST">
        <label for="review-text">Review:</label>
        <textarea name="content" id="review-text"></textarea>
        <input type="submit" value="Post Review">
    </form>
<% } else { %>
    <h3>Must be logged in to review.</h3>
<% } %>

<% game.reviews.forEach(function(review, idx) { %>
    <h4><%= user.name %></h4>
    <p><%= review.content %></p>
    <% if (user) { %>
        <form action="/games/<%= game._id %>/reviews/<%= review._id %>/?_method=DELETE" method="POST">
            <input type="submit" value="X">
        </form>
        <input type="button" value="Edit" class="edit-button" data-id="<%= idx %>">
        <form action="/games/<%= game._id %>/reviews/<%= review._id %>/?_method=PUT" method="POST" class="edit-form" data-id="<%= idx %>">
            <label for="review-edit">Edit:</label>
            <textarea name="content" id="review-edit"><%= review.content %></textarea>
            <input type="submit" value="Update">
        </form>
    <% } %>  
<% }); %> 

<%- include('../partials/footer') %>
