<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/game.css">

<div class="my-container">
    <div class="game z-depth-1 grey darken-3">
        <div class="game1"><img src="<%= game.art %>"></div>
        <div class="game2"><h2><%= game.title %></h2></div>
        <div class="game3 grey darken-2">
            <h5><span>Developer:</span> <%= game.developer %></h5>
            <h5><span>Publisher:</span> <%= game.publisher %></h5>
            <h5><span>Release Date:</span> <%= game.releaseDate.toLocaleDateString() %></h5>
            <h5><span>Genre:</span> <%= game.genre %></h5>
        </div>
        <div class="game4">
            <% if (user) { %> 
                <% if (!profile.favorites.includes(game._id)) { %>
                    <form action="/games/<%= game._id %>/favorite" method="POST">
                        <button type="submit" class="waves-effect waves-light btn-flat teal accent-4 white-text">Favorite</button>
                    </form>
                <% } else { %>
                    <form action="/games/<%= game._id %>/favorite?_method=DELETE" method="POST">
                        <button type="submit" class="waves-effect waves-light btn-flat red lighten-1 white-text">Unfavorite</button>
                    </form>
                <% } %>
            <% } %> 
        </div>
    </div>
</div>    

<br>

<% if (user || game.reviews.length > 0) { %>
    <h4 class="white-text">Reviews</h4>
<% } %>

<% if (user) { %>
    <div class="review grey darken-3">
        <h5 class="white-text">Write a review...</h5>
        <form action="/games/<%= game._id %>/reviews" method="POST">
            <textarea name="content" id="review-text" class="text-area grey darken-2"></textarea>
            <br>
            <label for="review-rating" class="rating-label">Rating:</label>
            <input type="number" name="rating" id="review-rating" value="5" min="1" max="5" class="rating-field">
            <br>
            <button type="submit" class="waves-effect waves-light btn-flat teal accent-4 white-text post-btn">Post Review</button>
        </form>
    </div>
    <br>
<% } %>

<% game.reviews.forEach(function(review, idx) { %>
    <div class="review-post grey darken-3">
        <div class="review-post1">
            <img class="circle" src="<%= review.userAvatar %>">
        </div>
        <div class="review-post2">
            <a class="teal-text text-accent-4" href="/profiles/<%= review.userProfile %>"><%= review.userName %></a>
            <p><%= review.content %></p>
            <h6>Rating: <%= review.rating %></h6>
            <form action="/reviews/<%= review._id %>?_method=PUT" method="POST" class="edit-form" data-id="<%= idx %>">
                <label for="review-edit" class="edit-label">Edit:</label>
                <textarea name="content" id="review-edit" class="text-area grey darken-2"><%= review.content %></textarea>
                <br>
                <label for="rating-edit" class="rating-label">Rating:</label>
                <input class="rating-field" type="number" name="rating" id="rating-edit" value="<%= review.rating %>" min="1" max="5">
                <br>
                <button type="submit" class="waves-effect waves-light btn-flat teal accent-4 white-text update-btn">Update</button>
            </form>
        </div>
        <% if (review.createdBy.equals(user && user._id)) { %>
            <div class="review-post3">
                <button class="waves-effect waves-light btn-flat teal accent-4 white-text" id="edit-btn" data-id="<%= idx %>">Edit</button>
                
                <form action="/reviews/<%= review._id %>?_method=DELETE" method="POST" class="edit-form" data-id="<%= idx %>">
                    <button type="submit" class="waves-effect waves-light btn-flat red lighten-1 white-text delete-btn">Delete</button>
                </form>
            </div>
        <% } %>
    </div>
<% }); %>

<%- include('../partials/footer') %>
